@import './imports/variables';
@import './imports/maps';
@import './imports/mixins';

*{
    margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

/*ASPECTOS GENERALES*/

html{
    font-family: $fuentePrincipal;
}

/* HEADER */

.header{
    background-color: $color-bg-principal;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    Z-index:9999;
    font-family: $fuentePrincipal;
    .header__logo{
        height: 9vh;
        width: 15vw;
        img{
            height: 95%;
            margin: 4px;
        }
    }
    .header__nav{
        width: 60vw;
        height: 9vh;
        display: flex;
        font-family: $fuentePrincipal;
        > ul{
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            > li{
                width: 12vw;
                height: 9vh;
                list-style: none;
                font-weight: bolder;
                background-color: $color-bg-principal;
                > a{
                    text-decoration: none;
                    color: $color-principal;
                    background-color: $color-bg-principal;
                    font-size: ($font-size)-30px;
                    font-family: $fuentePrincipal;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10vh;
                }
                a:hover {
                    background-color: $color-bg-secundario;
                    color: $color-secundario;
                }
            }
        }
    }
}

/* SUBMENU */

li{ 
    .subMenuItems{
        position: absolute;
        display: none;
        padding: 0;
    }
}
li:hover .subMenuItems{
    display: flex;
    flex-direction: column;
    color: $color-varios;
    li{
        color: $color-principal;
        background-color: $color-bg-principal;
        width: 12vw;
        list-style: none;
        a{
            color: $color-principal;
            background-color: $color-bg-principal;
            font-size: ($font-size)-32px; 
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
        a:hover{
            background-color: $color-bg-secundario;
            color: $color-secundario;
        }
    }
}

/* CARROUSEL */

#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    object-fit: cover;
}

#carouselExampleIndicators.carousel-inner .carousel-inner div{
    height: 100%;
    width: 60wh;
    margin: auto;
}

#carouselExampleIndicators .carousel-inner .carousel-item div h3{
    font-size: $font-size;
}

#carouselExampleIndicators .carousel-inner .carousel-item div p{
    color: $color-varios-w;
}

/* MAIN */

.introInicio{
    text-align: center;
    color: $color-varios-w;
    background-color: $color-bg-terciario;
    font-size: ($font-size)-5px;
    font-family: $fuentePrincipal;
    letter-spacing: 12px;
    text-align: center; 
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight: bolder;
}

main{
    .section{
        .section__menu{
            display: flex;
            flex-direction: column;
            width: 75vw;
            margin: auto;
            .section__grilla{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                text-align: center;
                .section__img{
                    width: 40%;
                    height: 500px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                        padding: 1rem;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
                    }
                }
            }
        } 
    }
}

.section__grilla .section__img img:hover{
    transform: translateY(-3px) scale(1.05,1.05);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
    transition: .3s
}

.section__haches{
    width: 50%;
    padding: 1rem;
}

/* BOTONES */

.section__boton{
    margin: auto;
    height: 3rem;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    .boton{
        border: none;
        margin-top: 20px;
        height: 80%;
        width: 8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: $color-bg-principal;
        a{
            color: $color-principal;
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            border-radius: 1rem;
        }
    }
}

/* GALERIA */

.galeria{
    div{
        p{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    font-size: ($font-size)-30px;
    font-style: normal;}
    }
    .galeria__centro{
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        .videos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            div{
                margin: 1rem;
            }
        }
        .galeria__subs{
            font-size: ($font-size)-18px;
            color: $color-terciario;
            text-align: center;
            .galeria__img{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 500px;
                img{
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    object-fit: cover;
                }
            }
        }
    }
}

/* SOLAPA MENU */

.table{
    border-style: double;
        thead{
            background-color: $color-bg-terciario;
            font-weight: bolder;
            }
        .table__nombres{
            background-color: $color-bg-table;
        }
}

/* RESERVAS */

legend{
    text-align: center;
    .form-reser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* CONTACTO*/

form{
    background-color: $color-bg-principal;
    display: flex;
    justify-content: center ;
    .send-button{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        .btn-primary{
            color: $color-varios-w;
            background-color: $color-bg-secundario;
            border-color: $color-bg-secundario;   
        }
    }
}

/* FOOTER */

#footer{
    width: 100vw;
    margin-top: 20px;
    background-color: $color-bg-terciario;
    display: grid;
    grid-template-areas:
        "parte1 parte2 parte3"
        "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: $fuentePrincipal;
}

#footer__parte1{
    grid-area: parte1;
}

#footer__parte2{
    grid-area: parte2;
    .footerParte2{
        list-style-type: none;
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

/* FAQ */

main{
    .preguntas{
        text-align: center;
        padding: 0px;
    }
    .fondo-respuesta{
        background-color: #F2E8CF;
    }
}

#footer__parte3{
    grid-area: parte3;
}

#piePagina{
    grid-area: pie;
    background-color: $color-bg-principal;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    text-align: center;
    font-style: italic;
}

:root{
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #e4405f;
    --pinterest: #bd081c; 
   }
   
.redes-container{
    ul {
        background-color: $color-bg-terciario;
        li{
            display: inline-block;
            margin: 4px;
            width: 45px;
            height: 45px;
            text-align: center;
            a{
                display: block;
                padding: 0 2px;
                height: 100%;
                background: $color-redes-cont-bg;
                color: $color-redes-cont;
                line-height: 45px;
                font-size: ($font-size/2);
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
                transition: .2s
            }
            a:hover{
                transform: translateY(-3px) scale(1.05);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
                filter: none;
            }
        } 
    }
    ul:hover{
        a{
            filter: blur(2px);  
        }
    }
}

.redes-container ul li .facebook:hover{
   background: var(--facebook);
}

.redes-container ul li .twitter:hover{
   background: var(--twitter);
}

.redes-container ul li .instagram:hover{
   background: var(--instagram);
}

.redes-container ul li .pinterest:hover{
   background: var(--pinterest);
} 

p{
    font-family: $fuenteSecundaria;
    font-style: italic;
    color: $color-varios;
    font-size: ($font-size)-35px;
}

.comentariosCentro{
    text-align: center;
    font-size: ($font-size)-30px;
    color: $color-varios;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
}

.botonesVarios{
    background-color: $color-bg-botones-footer;
    width: 5.5vw;
    height: 5vh;
    text-transform: uppercase;
    font-weight: bolder;
        a{
            text-decoration: none;
            color: black;
        }
}