/* fuentes */

$fuentePrincipal: 'Open Sans Condensed', sans-serif;
$fuenteSecundaria: Arial, Helvetica, sans-serif;

/* colores */
$color-bg-principal: #f2e8cf;
$color-bg-secundario: #A22C29;
$color-bg-terciario: #6A994E;
$color-bg-botones-footer: #A7C957;
$color-bg-table: #CDD993;

$color-bg-submenu: rgba(242, 232, 207, 0.5);

$color-principal: #A22C29;
$color-secundario: #F2E8CF;
$color-terciario: #386641;
$color-varios-w: white;
$color-varios: black;

$color-redes-cont: #fff;
$color-redes-cont-bg: #333;

/* tamaños fuentes */
$font-size: 50px;

/* fondos */

$fondo:(
    fondo-pregunta: #6A994E,
    fondo-respuesta: #F2E8CF, 
)